.App .bld { font-weight: bold; }
.App .ctr { text-align: center; }

.App .form-control { 
    background-color: #292929;
    color: white;
    border: 1px solid #375a7f;
}

.App input:-webkit-autofill { background-color: transparent !important;}

.App .form-control:focus, 
.App input:focus, 
.App textarea:focus {
  box-shadow: 5px;
  border-color: #3498DB;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: 1px;
}
